* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    /* border: solid 1px black; */
}
.title {
    color: #0d6efd;
}
.tete {
    border: none;
    background-color: #0d6efd;
    color: white;
}
.item{
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #d6d6d3;
    color: rgb(12, 12, 12);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.item:hover{
    background-color: #0d6efd;
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.main-content{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 90vh;
    background: url(../imgs/fundo.png);
    background-size: cover;
}
.cardTask{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.titlecard{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}