* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    /* border: solid 1px black; */
}
.title {
    color: #0d6efd;
}
.tete {
    border: none;
    background-color: #0d6efd;
    color: white;
}
.item{
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #d6d6d3;
    color: rgb(12, 12, 12);
    margin-bottom: 5px;
    text-transform: uppercase;
}
.item:hover{
    background-color: #0d6efd;
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.main-content{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 90vh;
    background: url(../imgs/fundo.png);
    background-size: cover;
}