*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
header{
    width: 100%;
}
.title{
    color: white;
}
.cabecalho{
    background-color: blue;
    width: 100%;
    height: 50px;
    display: flex;
}
#div1{
    background-color: red;
}
#div2{
    background-color: yellow;
}   
img{
    width: 500px;
    height: 400px;
}
.btnC{
    background: black;
}
#carrossel{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
#cards{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}